
/* Direction Buttons */
$directionButtonHeight: 60%;
$directionButtonWidth: 25%;

/* Action buttons */
$actionButtonWidth: 40%;
$actionButtonHeight: 25%;

/* Extra margin between buttons */
$buttonMargin: 0.2rem;